<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>names</title>
    <h3>names here</h3>
    <div id = "name" >

        {{name}}
        
    </div>
</head>
<body>
    



<a href='currency'> 
  <button class="GFG"> 
      next page
  </button> 
</a> 

<a href='time.html'> 
  <button class="GFG"> 
      prev page
  </button> 
</a>
</body>
</html>